/* Stylesheet */
html {
    height: 100%;
    background-color: #CCD6CC;
}

body {
    font-family: lucida; 
}

.header {
    padding-top: 10%;
    padding-bottom: 15%;
    padding-right: 40%;
    padding-left: 40%;
    background-image: url(Screen%20Shot%202015-02-07%20at%2011.19.25%20PM.png);
    /* courtesy of http://media.tumblr.com/tumblr_mcmugbNN1s1qh9yw5.png*/
    text-align: center;
    position: absolute;
}

#link1 {
    margin-top: 45%;
    text-align: center;
    width: 20%;
    position: absolute;
}

#link2 {
    margin-left: 39%;
    margin-top: 45%;
    text-align: center;
    width: 20%;
    position: absolute;
}

#link3 {
    margin-left: 78%;
    margin-top: 45%;
    text-align: center;
    width: 20%;
    position: absolute;
}

img {
    width:15%;
    height:30%;
    margin-left: 43%;
    margin-top: 15%;
    position: absolute;
}

#tufts {
    margin-top: -8%;
    margin-left: 70%;
    width: 20%;
    height: 10%;
    position: absolute;
}

h1 {
    color: #610020;
    width: 200%;
    margin-left: -45%;
    text-align: center;
    font-size: 400%;
    margin-top: 1.8%;
}

h2 {
    color: #610020;
    width: 50%;
    margin-left: 10px;
    text-align: left;
}

h3 {
    text-indent: 30px;
    color: #002900;
    
}

.classheader {
    padding-top: 0.005%;
    padding-left: 2%;
    background-color: #610020;
    color: white;
    height: 60px;
    opacity: 0.7;
    text-align: left;
}

#exp {  
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    list-style: circle;
    list-style-position: inside;
    margin-left: 2%;
}

p {
    text-indent: 50px;
    text-align: justify;
    width: 80%;
    height: 50%;
    margin-left: 10%;
    position: absolute;
}

a {
    width: 30%;
    display: inline-block;
    text-align: 50%;
    text-decoration:none;
    color: white;
    font-size: 150%; 
    border: 3% solid #A3B2A4;
    padding: 1% 1% 1% 1%;
    background: #610020;
    opacity: 0.6%;
    text-indent: -1%;
}

a:hover {
    background: #81334D;
    opacity: 0.9;
    color: white;
    border-color: white;
}

#bio {
    text-align: left;
}

#linkedin {
    text-align: right;
}