/* Stylesheet */
body {
    font-family: lucida; 
    background-image: url(8-580x276.jpg);
}

#links {
    text-align: center;
}

.header {
    font-size: 50px;
    background-color: #1A1A66;
    height: 75px;
    opacity: 0.6;
    text-align: left;
}

img {
    width:225px;
    height:228px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border: 5px solid #1A1A66;
}

h1 {
    color: white; 
    font-size: 50px;
}

h2 {
    color: black;   
}

h3 {
    text-indent: 20px;
    color: black;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    color: black;
}

#exp {  
    text-indent: 40px;
}

p {
    text-indent: 40px;
}

a {
    text-decoration:none;
    color: #1A1A66;
    font-size: 20px; 
}

a:hover {
    text-decoration: underline;
}
