/* Stylesheet */
html {
    height: 100%;
    background-color: #CCD6CC;
}

body {
    font-family: lucida; 
}

.header {
    padding-top: 10%;
    padding-bottom: 15%;
    padding-right: 40%;
    padding-left: 40%;
    background-image: url(Screen%20Shot%202015-02-07%20at%2011.19.25%20PM.png);
    /* courtesy of http://media.tumblr.com/tumblr_mcmugbNN1s1qh9yw5.png */
    height: 20%;
    text-align: center;
    position: absolute;
}

#link1 {
    margin-top: 10%;
    text-align: center;
    width: 20%;
    position: absolute;
}

#link2 {
    margin-left: 39%;
    margin-top: 10%;
    text-align: center;
    width: 20%;
    position: absolute;
}

#link3 {
    margin-left: 78%;
    margin-top: 10%;
    text-align: center;
    width: 20%;
    position: absolute;
}

img {
    margin-left: 43%;
    margin-top: 15%;
    position: relative;
    text-align: center;
}

td {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

h1 {
    color: #610020;
    width: 200%;
    margin-left: -45%;
    text-align: center;
    font-size: 250%;
    margin-top: 1.8%;
}

h2 {
    color: #610020;
    width: 50%;
    margin-left: 10px;
    text-align: left;
}

h3 {
    text-indent: 30px;
    color: #002900;
    
}

.classheader {
    background-color: #610020;
    color: white;
    height: 60px;
    width: 100%;
    opacity: 0.7;
    text-align: left;
    margin-left: -1%;
    padding-left: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-size: 350%;
}

.exp {  
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    list-style: circle;
    list-style-position: inside;
    margin-left: 3%;
}

p {
    text-indent: 50px;
    text-align: justify;
    width: 80%;
    height: 50%;
    margin-left: 10%;
    position: absolute;
}

a {
    width: 30%;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 100%; 
    padding: 1% 1% 1% 1%;
    background: #610020;
    text-indent: -1%;
    text-decoration: none;
    z-index: 100;
}

a:hover {
    background: #81334D;
    opacity: 0.9;
    color: white;
}

#bio {
    text-align: left;
}

#resume {
    color: #610020;
    background-color: transparent;
    margin-left: 1%;
    font-size: 90%;
    margin-bottom: -50%;
}

#resume:hover {
    text-decoration: underline;
}